.tela_clientes {
    display: none;
}

.tela_clientes .botoes a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    transition: 0.3s;
    padding: 10px;
    margin-left: 10px;
}

.tela_clientes .botoes a:hover {
    color: #f1f1f1;
    background-color: #313863;
}