.tela_produtos {
    display: none;
}

.tela_produtos .botoes a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    transition: 0.3s;
    padding: 10px;
    margin-left: 10px;
}

.tela_produtos .botoes a:hover {
    color: #f1f1f1;
    background-color: #313863;
}

.tela_produtos .botoes a i{
    margin-right: 10px;
}

#tabelaProdutos tr td{
    cursor: pointer; /**importante para não mostrar cursor de texto**/
  }
  
  /**Cor quando passar por cima**/
  #tabelaProdutos td:hover{
    background-color: #3e3769;
  }
  
  /**Cor quando selecionado**/
  #tabelaProdutos tr.selecionado td{
    background-color: #3e3769;
  }